@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
